body {
    background: darkblue;
    color: silver;
}

h1 {
    font-family: fantasy, cursive;
    font-size: 5vmin;
    text-align: center;
    margin: 2em auto 3.5em;
    line-height: 1.3;
}

.btn-block {
    font-size: 5vmin;
    color: #050520;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.75em;
}

.btn-primary {
    background: orange;    
}

.btn-info {
    background: darkorange;
}

#button-repeat {
    margin-top: 1.2em;
}

#button-submit {
    display: none;
}


#answer-phone, #answer-short, #answer-date {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 6vw;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.1em 1em;
    color: black;
    display: none;
}